{% extends 'portfolio/base_pr.html' %}
{% load static %}

{% block content %}
    <!-- Boucle sur les projets -->
<style>
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
 text-align: center;
 margin: 80px auto;
}

@media screen and (max-width: 850px) {
    body {
      width: 100%;
      margin: 0 !important;
      padding: 0;
    }

    .card {
      display: flex;
      flex-direction: column;
      width: 90%;
      justify-content: center;
      margin: 50px auto;
    }

    .card__content {
      justify-content: center;
      margin: 0;
      padding: 0 !important;
      width: 100%;
    }

}
</style>
    <div class="title">
	    <h1>Liste de mes projets</h1>
    </div>

    {% for project in project_list %}
        <div class="card">
            <img class="animate" src="{{ project.project_thumbnail.url }}" alt="img" style="height: 100%; margin: 0; padding: 0; width: 300px;"/>
            <div class="card__content">
                <h2 class="card__title animate text-dark">
                    <a href="javascript:" class="text-dark">{{ project.title }}</a>
                </h2>
                <p class="text-dark">{{ project.date_created_on|date:'d/m/Y' }}</p>
                <p class="text-dark">
                    {{ project.project_goal }}
                </p>
                <div class="col-xs-12 col-md-6">
                    <a href="{% url 'details_projet' project.slug %}" class="btn btn-primary">Voir le projet</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'index_portfolio' %}" class="btn btn-primary">Retour à l'accueil</a>
{% endblock %}