{% extends 'portfolio/base_pr.html' %}
{% load static %}

{% block content %}
    <!-- Boucle sur les projets -->
<style>
.box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;

}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
 text-align: center;
 margin: 80px auto;
}

@media (max-width: 650px) {
    body {
      width: 100%;
      margin: 0 !important;
      padding: 0;
    }

    .box {
      margin: auto;
      width: 90%;
      padding: 0;
      justify-content: center;
    }

    .card {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 40px 0;
    }

    .card__content {
      justify-content: center;
      margin: auto;
      padding: 0 !important;
    }

}
</style>
<div class="title">
	<h1>Liste de mes projets</h1>
</div>

<div class="box">
	{% for cat in categorie_list %}
	<div class="card">
		<img class="animate" src="{{ cat.image_cat.url }}" alt="img" style="height: 100%; margin: 0; padding: 0;"/>
		<div class="card__content">
			<h2 class="card__title animate text-dark"><a href="javascript:" class="text-dark">{{ cat.category_name }}</a></h2>
			<p class="text-dark">
				{{ cat.description_cat }}
			</p>
		</div>
		<button class="card__btn">
			<a href="{% url 'project_list' %}"><!-- TODO : Lien vers la page liste site vitrine --><i class="fa fa-arrow-right fa-fw"></i></a>
		</button>
	</div>
	{% endfor %}
</div>
{% endblock %}