{% extends 'portfolio/base_pr.html' %}
{% load static %}

{% block content %}
    <!-- Boucle sur les projets -->
    <style>
        .card {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .card__content {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            width: auto;
            padding: 0 !important;
        }

        .title {
            text-align: center;
            margin: 80px auto;
        }

        .card {
            width: 50%;
            max-width: none !important;
        }

        .card-img {
            width: 30% !important;
            padding: 10px !important;
            border-radius: 30px;
            border: solid 1px darkgrey;
            margin: 20px !important;
        }

        .card-titre {
            font-size: 1.5em;
            font-weight: bold;
            color: #8a484b !important;
        }

        .card-date {
            font-size: 1em;
            font-weight: bold;
            font-style: italic;
        }

        .card-goal {
            font-weight: bold;
            color: darkorange !important;
            font-size: 1.2em;
        }

        @media (min-width: 768px) {
            .btn-details {
                width: auto;
            }
        }

        @media screen and (max-width: 850px) {
            body {
                width: 100%;
                margin: 0 !important;
                padding: 0;
            }

            .card {
                display: flex;
                flex-direction: column;
                width: 90%;
                justify-content: center;
                margin: 50px auto;
            }

            .card__content {
                justify-content: center;
                margin: 0;
                padding: 0 !important;
                width: 100%;
            }
        }
    </style>
    <div class="title">
        <h1>Liste de mes projets</h1>
    </div>

    {% for project in project_list %}
        <div class="card">
            <img class="animate card-img" src="{{ project.project_thumbnail.url }}" alt="img"
                 style="height: 100%; margin: 0; padding: 0; width: 300px;"/>
            <div class="card__content">
                <h2 class="card__title animate text-dark">
                    <a href="javascript:" class="card-titre text-dark">{{ project.title }}</a>
                </h2>
                <p class="card-date text-dark">{{ project.date_created_on|date:'d/m/Y' }}</p>
                <p class="card-goal text-dark">
                    {{ project.project_goal }}
                </p>
                <div class="btn-details col-xs-12 col-md-6">
                    <a href="{% url 'details_projet' project.slug %}" class="btn btn-primary">Voir le projet</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="flex justify-content-center mt-5 m-auto" style="justify-content: center; margin: auto; display: flex;">
        <a href="{% url 'index_portfolio' %}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}