{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <!--==== fontawesome ====-->
    <script src="https://kit.fontawesome.com/a2a69c8064.js" crossorigin="anonymous"></script>
    <!--==== style ====-->
    <link  rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'build/css/home.css' %}">
</head>

<body class="bg-dark">
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">
    {% load static %}
      <a href="{% url 'home' %}" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <i class="bi bi-camera"></i>
        <h1>Antho WebDev</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li>
              <a href="{% url 'index_portfolio' %}" class="active">
                  Home
              </a>
          </li>

            <!-- ===== Dropdown ===== -->
          <li class="dropdown">
              <a href="{% url 'project_list' %}">
                  <span>
                      Projets
                  </span>
              <i class="bi bi-chevron-down dropdown-indicator"></i>
          </a>
            <ul>
                <!-- eco déménagement -->
                <li>
                    <a href="{% url 'eco-demenagement' %}">
                        €co-Déménagement
                    </a>
                </li>
                <!-- la cordée numérique -->
                <li>
                    <a href="#">
                      La cordée numérique
                    </a>
                </li>
                <!-- pizzeria -->
                <li>
                    <a href="{% url 'pizzeria' %}">
                        pizza
                    </a>
                </li>
                <!-- End Dropdown -->

                <!-- ===== sub Dropdown ===== -->
                <li class="dropdown">
                    <a href="#">
                        <span>Sub Menu</span>
                        <i class="bi bi-chevron-down dropdown-indicator"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">Sub Menu 1</a>
                        </li>
                        <li>
                            <a href="#">Sub Menu 2</a>
                        </li>
                        <li>
                            <a href="#">Sub Menu 3</a>
                        </li>
                    </ul>
                </li>
            </ul>
          </li>
          <!-- ===== End sub Dropdown ===== -->
          <li>
              <a href="#">Services</a>
          </li>
          <li>
              <a href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </nav>
      <!-- .navbar -->

      <div class="header-social-links">
          <!--
          <a href="#" class="twitter">
              <i class="fa fa-twitter"></i>
          </a>

          <a href="#" class="facebook">
            <i class="fa fa-facebook"></i>
          </a>
          -->
          <a href="#" class="instagram">
              <i class="fa fa-instagram"></i>
          </a>

          <a href="#" class="linkedin">
              <i class="fa fa-linkedin"></i>
          </a>
      </div>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header>
<!-- .End Header -->
{% block content %}
{% endblock %}

<!-- separateur -->
<div class="separateur"></div>

<!-- ======= Footer ======= -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
          <i class="fab fa-facebook-f"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
          <i class="fab fa-twitter"></i>
      </a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
          <i class="fab fa-google"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
          <i class="fab fa-instagram"></i>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
          <i class="fab fa-linkedin-in"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
          <i class="fab fa-github"></i>
      </a>

    </section>
    <!-- Section: Social media -->



    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lien de nos partenaires
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Evènements</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-white">
                  LGNE
              </a>
            </li>

            <li>
              <a href="#" class="text-white">
                  Close2me
              </a>
            </li>

            <li>
              <a href="#" class="text-white">
                  Link 3
              </a>
            </li>

            <li>
              <a href="#" class="text-white">
                  Link 4
              </a>
            </li>

          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Tutos youtube</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.youtube.com/c/SimpleTechProd" class="text-white">SimpleTech</a>
            </li>
            <li>
              <a href="https://www.youtube.com/c/Formationvid%C3%A9o8" class="text-white">Formation vidéo</a>
            </li>
            <li>
              <a href="https://www.youtube.com/c/Docstring" class="text-white">Docstring</a>
            </li>
            <li>
              <a href="https://www.youtube.com/c/FromScratchD%C3%A9veloppementWeb" class="text-white">From Scratch</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Tuto écrits</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Promotions</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">Antho WebDesign</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</body>

</html>
