{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Portfolio</title>
		<!--==== fontawesome ====-->
		<script src="https://kit.fontawesome.com/a2a69c8064.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
		<!--==== style ====-->
		<link  rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'build/css/home.css' %}">
	</head>
	<body class="bg-dark">
    <style>

@media (max-width: 840px) {

    .cache {
        justify-content: center;
        margin: auto;
    }

    /* bootstrap.min.css | https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css */
    .navbar-collapse {
        /* flex-basis: 100%; */
        /* flex-grow: 1; */
    }

    /* Élément | http://127.0.0.1:8000/# */
    .navbar-nav {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .cache {
        display: flex;
    }
    .nav-lg {
        display: none;
    }

    #header::before {
      /* position: absolute; */
      position: fixed;
    }
    #header::after {
      /* position: absolute; */
      position: fixed;
    }

    .header-social-links {
        display: none;
    }
}
@media (min-width: 840px) {
    .cache {
        display: none;
    }

    .nav-lg {
        display: flex;
    }
}


    </style>
		<!-- ======= Header ======= -->
		<header id="header" class="header d-flex align-items-center fixed-top">
			<div class="container-fluid d-flex align-items-center justify-content-between">
				<a href="{% url 'home' %}" class="logo d-flex align-items-center  me-auto me-lg-0">
					<!-- Uncomment the line below if you also wish to use an image logo -->
					<!--
					<img src="assets/img/logo.png" alt="">
					 -->
					<i class="bi bi-camera"></i>
					<h1>Antho WebDev</h1>
				</a>
            <div class="cache">
                    <div class="navbar-collapse justify-content-md-center" id="myNavbarsExample10">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link menu-anim btn-mbl" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-regular fa-bars"></i>
                                </a>

                                <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'index_portfolio' %}">Accueuil</a></li>
                                        <li><a class="dropdown-item" href="{% url 'category_list' %}">Catégories</a></li>
                                        <li><a class="dropdown-item" href="{% url 'index_blog' %}">blog</a></li>
                                        <li><a class="dropdown-item" href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="nav-lg">
				<nav id="navbar" class="navbar">
					<ul>
						<li><a href="{% url 'index_portfolio' %}" class="active">Home</a></li>
						<!-- ===== Dropdown ===== -->
						<li class="dropdown">
							<a href="{% url 'category_list' %}">
								<span>Category Projets</span>
								<i class="bi bi-chevron-down dropdown-indicator"></i>
							</a>
							<ul>
								<!-- eco-déménagement -->
								{% for categorie in categories %}
								<li>{{ categorie.category_name }}</li>
								{% endfor %}
								<!-- End Dropdown -->
								<!-- ===== sub Dropdown ===== -->
								<li class="dropdown">
									<a href="#">
										<span>Tout les Projets -></span>
										<i class="bi bi-chevron-down dropdown-indicator"></i>
									</a>
									<ul>
										{% for projects in project_list %}
										<li><a href="{% url 'project_list' %}">{{ projects.title }}</a></li>
										{% endfor %}
									</ul>
								</li>
							</ul>
						</li>
						<!-- ===== End sub Dropdown ===== -->
						<li><a href="{% url 'contact' %}">Contact</a></li>
					</ul>
				</nav>
				<!-- .navbar -->
				<div class="header-social-links">
					<a href="https://github.com/Antho-Webdesign" class="github"><i class="fa fa-2x fa-github"></i></a>
					<a href="https://github.com/Antho-Webdesign" class="linkedin"><i class="fa fa-2x fa-linkedin"></i></a>
				</div>
			</div>
            </div>
		</header>
		<!-- .End Header -->
		{% block content %}{% endblock %}
		<!-- separateur -->
		<div class="separateur"></div>
		<!-- ======= Footer ======= -->
		<footer class="bg-dark text-center text-white">
			<!-- Grid container -->
			<div class="container p-4">
				<!-- Section: Social media -->
				<section class="mb-4">
					<!-- Linkedin -->
					<a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Antho-Webdesign" role="button"><i class="fab fa-3x fa-linkedin-in"></i></a>
					<!-- Github -->
					<a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Antho-Webdesign" role="button"><i class="fab fa-3x fa-github"></i></a>
				</section>
				<!-- Section: Social media -->
				<!-- Section: Text -->
				<section class="mb-4">
					<p>
						Liens de nos partenaires
					</p>
				</section>
				<!-- Section: Text -->
				<!-- Section: Links -->
				<section class="">
					<!--Grid row-->
					<div class="row">
						<!--Grid column-->
						<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
							<h4 class="text-uppercase">
								Evènements
							</h4>
							<ul class="list-unstyled mb-0">
								<li><a href="#" class="text-white">LGNE</a></li>
								<li><a href="#" class="text-white">Close2me</a></li>
							</ul>
						</div>
						<!--Grid column-->
						<!--Grid column-->
						<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
							<h4 class="text-uppercase">
								Tutos youtube
							</h4>
							<ul class="list-unstyled mb-0">
								<li><a href="https://www.youtube.com/c/Formationvid%C3%A9o8" class="text-white">Formation vidéo</a></li>
								<li><a href="https://www.youtube.com/c/Docstring" class="text-white">Docstring</a></li>
							</ul>
						</div>
						<!--Grid column-->
						<!--Grid column-->
						<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
							<h4 class="text-uppercase">
								Tuto écrits
							</h4>
							<ul class="list-unstyled mb-0">
								<li><a href="#" class="text-white">Link 1</a></li>
								<li><a href="#" class="text-white">Link 2</a></li>
							</ul>
						</div>
						<!--Grid column-->
						<!--Grid column-->
						<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
							<h4 class="text-uppercase">
								Promotions
							</h4>
							<ul class="list-unstyled mb-0">
								<li><a href="#" class="text-white">Link 1</a></li>
								<li><a href="#" class="text-white">Link 2</a></li>
							</ul>
						</div>
						<!--Grid column-->
					</div>
					<!--Grid row-->
				</section>
				<!-- Section: Links -->
			</div>
			<!-- Grid container -->
			<!-- Copyright -->
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				© 2022 Copyright:
				<a class="text-white" href="#">Antho WebDesign</a>
			</div>
			<!-- Copyright -->
		</footer>
		<!-- Footer -->
	</body>
</html>