{% extends 'base.html' %}


{% block content %}

<style>

.flex-slide:hover .flex-title{
    transform: none;
    }

.flex-slide:hover .flex-about {
    opacity: 1;
}

</style>

<div class="flex-container">
<!-- ===== SLIDE Blog ===== -->
	<div class="flex-slide home">
		<div class="flex-title flex-title-home">
            <a href="{% url 'index_blog' %}">Blog</a>
        </div>
        <div class="flex-about flex-about-home">
            <a href="{% url 'index_blog' %}"> Toute l'actus de dév</a>
            <br>
            <a href="{% url 'list_post_hack' %}"> Toute l'actus cyber</a>
            <br>
            <a href="{% url 'list_post_cryptos' %}"> Toute l'actus des cryptos</a>
            <br>
            <a href="{% url 'list_post_ia' %}"> Toute l'actus I.A</a>
        </div>
	</div>
<!-- ===== SLIDE Tutorielles ===== -->
	<div class="flex-slide about">
        <div class="flex-title">Tutoriels</div>
		<div class="flex-about">
            <p>Fonctionnalité en cours de développement...</p>
            <ul>
                <li>
                    <a href="#">Html / Css / Js</a>
                </li>

                <li>
                    <a href="#">Php (framework: Symfony)</a>
                </li>

                <li>
                    <a href="#">Python (framework: Django)</a>
                </li>
            </ul>
        </div>
	</div>
<!-- ===== SLIDE Portfolio ===== -->
	<div class="flex-slide work">
		<div class="flex-title">
            <a href="{% url 'index_portfolio' %}">Portfolio</a>
        </div>
		<div class="flex-about">
			<ul>
				<li>Mon parcour</li>
				<li>Mes projets</li>
				<li>Mon C.V</li>
			</ul>
		</div>
	</div>
<!-- ===== SLIDE Contact ===== -->
	<div class="flex-slide contact">
        <div class="flex-title">
            <a href="{% url 'contact' %}">Contact</a>
        </div>
        <div class="flex-about">
            <p>
                <a href="{% url 'contact' %}">N'hésitéz pas et contactez moi !</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}