{% extends 'blog/base_blog.html' %}
{% load static %}

{% block content %}
    <style>
@media screen and (max-width: 850px) {
    .container {
      display:flex;
      flex-direction: column !important;
    }

    .box-blog {
      display:flex;
      flex-direction: column !important;
      width: 95%;
      margin: auto;
      padding: 0;
      justify-content: center;
    }

    .container-post {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 50px auto;
    }

    .box-card-list {
      flex-direction: column;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
    }

    .box-card-infos {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .titre-blog {
      text-align: center;
      font-size: 1.5em;
    }

    .text-card-blog-list {
      text-align: center;
      font-size: 1em;
    }

    .button-wrapper {
      display: flex;
      justify-content: space-around;
      margin: 30px auto;
      width: 100%;
    }

    .fill {
      padding: 0;
      margin: auto;
    }

    .outline {
      padding: 0;
      margin: auto;
    }

    .banner-image {
      width: 90%;
      margin: 30px auto;
    }

}
</style>
<!--===== separateur =====-->
<<div class="separateur"></div>
    <h1 class="text-center">L'actus cyber</h1>
<div class="separateur"></div>

<div class="container box-blog" style="flex-direction:row;">
	{% for post in post_list %}{% if post.category.name == 'Hack' %}
	<div class="container-post">
		<div class="wrapper">
			<div class="box-card-list">
				<img class="banner-image" src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
				<div class="box-card-infos">
					<h1 class="text-card-blog-list">{{ post.title }}</h1>
					<p class="text-card-blog-list">
						Auteur : {{ post.author }}
					</p>
					<br>
					<br>
					<p style="margin: auto">
						Publié le :
						<br>
						{{ post.created_on|date:"d/m/Y" }}
					</p>
				</div>
			</div>
		</div>
		<div class="button-wrapper">
			<button class="btn outline"><a href="{% url 'post_detail_dev' post.slug  %}">DETAILS</a></button>
			<p class="btn fill btn-warning">
				<strong class="tags">{{ post.tags }}</strong>
			</p>
		</div>
	</div>
	{% endif %}{% endfor %}
	<a class="btn btn-warning" href="{% url 'index_blog' %}">Retour</a>
</div>
{% endblock %}