{% extends 'blog/base_blog.html' %}
{% load static %}

{% block content %}
    <style>

        .box-blog {
          flex-wrap: wrap;
          display: flex;
          width: 100%;
          margin: 100px auto;
          padding: 0;
          flex-direction: row;
          justify-content: space-around;
        }

        div.p-md-5 {
          width: 40%;
            border: solid 1px ;
        }

        div.p-md-5 > div {
          width: 100%;
        }


        h1.text-center {
          margin-top: 80px;
        }

        @media (min-width: 768px) {
          .p-md-5 {
            padding: 1rem !important;
          }
        }

    </style>
<h1 class="text-center mt-8">L'actus de la cybersécurité</h1>
<div class="container box-blog" style="flex-direction:row;">
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Article 1</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Article 2</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>
    <!--===== separateur =====-->
    <div class="separateur">
    </div>
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Article 3</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>

    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Article 4</h1>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>
</div>


    <div class="row-blog">
        <!-- Blog Entries Column -->
        {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title text-dark">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text text-dark">{{ post.content|slice:":400" }}...</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Lire &rarr;</a>
                </div>
            </div>
        {% endfor %}
    </div>

{%  endblock %}