{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main">
    <div class="container">
        <div class="row">
            <!-- ======= Contact Section ======= -->
            <form class="form-group" name="contactForm">
                {% csrf_token %}
                {{ form.as_p }}
              <!--
                <div class="form-item">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom">
                </div>

                <div class="form-item">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                </div>

                <div class="form-item">
                    <label for="message">Message</label>
                    <input type="text" class="form-control" id="message" name="message">
                </div>
                -->

                <button type="submit" class="btn btn-form">Submit</button>

            </form>
          </div>
        </div>
</main><!-- End #main -->


{%  endblock %}