{% extends 'blog/base_blog.html' %}
{% load static %}

{% block content %}

    <div class="row-blog">
        <!-- Blog Entries Column -->
        {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title text-dark">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text text-dark">{{ post.content|slice:":400" }}...</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Lire &rarr;</a>
                </div>
            </div>
        {% endfor %}
    </div>

{%  endblock %}