{% extends 'blog/base_blog.html' %}
{% load static %}

{% block content %}
<style>

.col-md-8 {
  width: auto;
  display: flex;
  flex-direction: column;
}

.post-img {
  width: 33%;
}

.flex-post-head {
  display: flex;
}

</style>
    <div class="separateur"></div>
    <!-- ===== container article ===== -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 left top">
                <div class="card-body text-dark">

                    <!-- head du blog -->
                    <div class="flex-post-head text-dark">
                        <h1 class="post-title">
                            {% block title %}
                                {{ post.title }}
                            {% endblock title %}
                        </h1>
                        <img class="post-img" src="{{ post.thumbnail.url }}" alt="image du post">
                    </div>

                    <!-- ===== body du blog ===== -->
                    <!-- auteur et date -->
                    <p class="text-muted text-dark">
                        {{ post.author }} | {{ post.created_on }}
                    </p>

                    <!-- contenu de l'article du blog -->
                    <p class="card-text text-dark">
                        {{ object.content | safe }}
                    </p>

                    <a class="btn btn-warning" href="{% url 'list_post_dev' %}">Retour</a>

                </div>
            </div>
        </div>
    </div>

{%  endblock %}