{% extends 'blog/base_blog.html' %}
{% load static %}

{% block content %}
<style>
@media screen and (max-width: 850px) {

    .container {
      padding: 0;
      display: flex;
      flex-direction: column;
      width: 95%;
      justify-content: center;
      margin: auto;
    }

    .row {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      min-width: auto;
      padding: 0;
      text-align: center;
    }

    .card-corp {
      padding: 10px !important;
    }

    .card-text {
      font-size: 1.1em;
    }
}

.card-text {
  color: black;
  width: 100%;
  display: flex;
  max-width: none;
  text-align: justify;
  line-height: 2;
  font-size: 1.3em;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: none;
  justify-content: center;
  margin: auto;
  min-width: 700px;
}

.col-md-8 {
  display: flex;
  padding: 50px;
}

.post-title {
  color: black;
}

.flex-post-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.post-img {
  width: 25%;
  border-radius: 15px;
}
</style>
    <div class="separateur"></div>
    <!-- ===== container article ===== -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4 card-corp mt-3 left top">
                <div class="card-body">

                    <!-- head du blog -->
                    <div class="flex-post-head">
                        <h1 class="post-title">
                            {% block title %}
                                {{ post.title }}
                            {% endblock title %}
                        </h1>
                        <img class="post-img" src="{{ post.thumbnail.url }}" alt="image du post">
                    </div>

                    <!-- ===== body du blog ===== -->
                    <!-- auteur et date -->
                    <p class=" text-muted">
                        {{ post.author }} | {{ post.created_on|date:"d/m/Y" }}
                    </p>

                    <!-- contenu de l'article du blog -->
                    <p class="card-text ">
                        {{ object.content | safe }}
                    </p>

                    <a class="btn btn-warning" href="{% url 'list_post_dev' %}">Retour</a>

                </div>
            </div>
        </div>
    </div>

{%  endblock %}