{% extends 'portfolio/base_pr.html' %}
{% load static %}

{% block content %}

    <div class="separateur"></div>

    <!-- ===== container article ===== -->
    <div class="container">

    {% for project in project_list %}
        {% if project.category_name == 'web' %}

        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 left top">

                <div class="card-body">

                    <!-- head du blog -->
                    <div class="flex-post-head">

                        <h1 class="post-title">
                            {% block title %}
                                {{ project.title }}
                            {% endblock title %}
                        </h1>
                        <img class="post-img" src="{{ project.project_thumbnail.url }}" alt="image du post">

                    </div>

                    <!-- ===== body du blog ===== -->
                    <!-- auteur et date -->
                    <p class=" text-muted">
                        {{ project.category_name }} | {{ project.date_created_on }}
                    </p>

                    <!-- contenu de l'article du blog -->

                <!-- lien vers details du projet -->

                    <a href="{% url 'details' project.slug %}" class="btn btn-primary">Voir le projet</a>

                    <a class="btn btn-warning" href="{% url 'list_categories' %}">Retour</a>

                </div>

            </div>
        </div>
            {% endif %}
    {% endfor %}
    </div>

{%  endblock %}