{% extends 'blog/base_blog.html' %}
{% load static %}

{% block content %}
<style>
@media screen and (max-width: 850px) {
    .container {
      display:flex;
      flex-direction: column !important;
    }

    .box-blog {
      display:flex;
      flex-direction: column !important;
      width: 95%;
      margin: auto;
      padding: 0;
      justify-content: center;
    }

    .container-post {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      margin: 50px auto;
    }

    .box-card-list {
      flex-direction: column;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
    }

    .box-card-infos {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .titre-blog {
      text-align: center;
      font-size: 1.5em;
    }

    .text-card-blog-list {
      text-align: center;
      font-size: 1em;
    }

    .button-wrapper {
      display: flex;
      justify-content: space-around;
      margin: 30px auto;
      width: 100%;
    }

    .fill {
      padding: 0;
      margin: auto;
    }

    .outline {
      padding: 0;
      margin: auto;
    }

    .banner-image {
      width: 90%;
      margin: 30px auto;
    }

    .container-post {
      flex-direction: column;
      padding: 10px;
    }

    .banner-image {
      width: 80%;
      margin: 30px auto;
    }

}

.container-post {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(81, 132, 230, 0.25);
  border-radius: 12px;
  padding: 38px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin:50px auto;
  border: 2px solid rgba(255, 255, 255, 0.255);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.banner-image {
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

h1 {
  font-family: 'Cinzel', serif;
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
}

p {
  color: #fff;
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper {
  margin-top: 18px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn + .btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all 0.3s ease;
}

.outline:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.fill {
  background: rgba(0, 124, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  /*filter: drop-shadow();*/
  font-weight: bold;
  transition: all 0.3s ease;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all 0.3s ease;
}

.box-card-list {
  display: flex;
  align-items: center;
}

.box-card-infos {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.text-card-blog-list {
  margin: 0 auto 30px auto;
}

.banner-image {
  /* width: 100%; */
  width: 60%;
  margin: auto;
}

</style>
<!--===== separateur =====-->
<div class="separateur"></div>
    <h1 class="text-center">L'actus des devs</h1>
<div class="separateur"></div>

<div class="container box-blog" style="flex-direction:row;">
	{% for post in post_list %}{% if post.category.name == 'Développement' or post.category.name == 'Programmation' %}
	<div class="container-post">
		<div class="wrapper">
			<div class="box-card-list">
				<img class="banner-image" src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
				<div class="box-card-infos">
					<h1 class="text-card-blog-list titre-blog">{{ post.title }}</h1>
					<p class="text-card-blog-list">
						Auteur : {{ post.author }}
					</p>
					<br>
					<br>
					<p style="margin: auto">
						Publié le :
						<br>
						{{ post.created_on|date:"d/m/Y" }}
					</p>
				</div>
			</div>
		</div>
		<div class="button-wrapper">
			<button class="btn outline"><a href="{% url 'post_detail_dev' post.slug  %}">DETAILS</a></button>
			<p class="btn fill btn-warning">
				<strong class="tags">{{ post.tags }}</strong>
			</p>
		</div>
	</div>
	{% endif %}{% endfor %}
	<a class="btn btn-warning" href="{% url 'index_blog' %}">Retour</a>
</div>


{%  endblock %}