{% extends 'blog/base_blog.html' %}
{% load static %}

{% block content %}
<style>


</style>
    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 left  top">
                <div class="card-body">

                    <!-- head du blog -->
                    <div class="flex-post-head">
                        <h1 class="post-title">
                            {% block title %}
                                {{ post.title }}
                            {% endblock title %}
                        </h1>
                        <img class="post-img" src="{{ post.thumbnail.url }}" alt="image du post">
                    </div>

                    <!-- auteur et date de l'article du blog -->
                    <p class=" text-muted">
                        {{ post.author }} | {{ post.created_on }}
                    </p>

                    <!-- contenu de l'article du blog -->
                    <p class="card-text ">
                        {{ object.content | safe }}
                    </p>

                    <a class="btn btn-warning" href="{% url 'list_post_dev' %}">Retour</a>

                </div>
            </div>
        </div>
    </div>

{%  endblock %}